[user]
        name = Karl Hiner
        email = karl.hiner@gmail.com
[core]
        editor = emacs
	autocrlf = input
	safecrlf = true
[color]
        ui = true
[push]
        default = current
[alias]
        co = checkout
        st = status
        re = rebase
        cm = commit
        cp = cherry-pick
