[user]
        name = Karl Hiner
        email = karl.hiner@gmail.com
[core]
        editor = vim
	autocrlf = false
	safecrlf = true
[color]
        ui = true
[push]
        default = current
[alias]
        co = checkout
        st = status
        re = rebase
        cm = commit
        cp = cherry-pick
	amend = commit --amend --no-edit
[pull]
	rebase = true
[init]
	defaultBranch = main
